footer {
	.logo {
		margin:0 auto ;
		background-color:$c-main;
		padding:10px;
		text-align:center ;
		img {
			margin:0 auto ;
		}
	}
	.social {
		background-color:darken($c-main, 25%) ;
		text-align:center ;
		padding:0px 0px 20px ;
			.fa {
				color:$c-def ;
				font-size:30px ;
				padding:5px ;
				margin: 20px;
				text-align:center ;
				// background-color:$c-def ;
		}
	}
	.add {
		background-color: lighten(darken($c-main,30%),5%);
		padding: 0 0 20px;
		text-align: center;
		font-size: 25px;
		color: $c-def;
		text-transform: capitalize;
		p {
			font-size: 25px;
			padding: 20px;
		}
	}
	.brand {
		background-color: darken($c-def,10%);
		p {
			font-size: 20px;
			padding: 20px;

		}
	}
}
