#header {
	width: 100%;
	display: inline-flex;
	align-content: center;
	justify-content: center;
	background-color: $c-main;
	.logo {
		width: 20%;
		padding: 10px ;
		margin:20px auto;
		font-size: 25px;
		text-align: center;

		a {
			color: $c-def;
			margin:20px auto;
			text-shadow: 2px 2px 2px  rgba(0,0,0,0.5);

		}
	}
	nav {
		width: 80%;
		text-align:center;
		margin:20px auto;
		transition: all .5s;
		.btn {
			display: none;
		}
		ul {
			width: 100%;
			font-size: 0;
			margin: auto;
			display: flex;
			align-content:center;
			justify-content: center;

			li {
				display: inline-flex;
				font-size: 25px;

				&:first-child a {
					border-radius: 50px 0 0 50px;
					}
				&:last-child a {
					border-radius:  0 50px 50px 0 ;
					}
				// &:not(:last-child){
				// 	border-right: 1px solid $c-main;
				// }

				a {
					padding: 10px;
					background-color: $c-def;
					color: $c-main;
					text-transform: uppercase;
					box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
					&:hover , &:focus {
						background-color: $c-main;
						color: $c-def;
					}
				}
			}
		}
	}
	.phone {
		width: 20%;
		padding: 10px ;
		color: $c-def;
		margin: 20px auto;
		p {
		font-size: 25px;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
		}
	}
}

@media only screen and (max-width: 800px) {
#header {
	display: block;
	padding: 0;
	background-color: rgba(255,255,255,0.0);

	.logo {
		width: 100%;
		margin: 0 auto;
		background-color: $c-main;
		z-index: 2;
		position: fixed ;
	}
	nav {
		width: 100%;
		margin: 0 auto;

		.btn {
			display: block;
			border: none;
			outline: none;
			width: 40px;
			height: 40px;
			background-color: $c-def;
			position: fixed;
			top: 8px;
			right: 15px;
			cursor:pointer;
			box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
			z-index: 2;
			span {
				background-color: $c-main;
				width: 95%;
				height: 3px;
				position: relative;
				display: block;
				margin: auto;
				top: 50%;
				transition:  .3s;
				&:before {
					content: "";
					background-color: $c-main;
					width: 100%;
					height: 3px;
					display: block;
					top: -10px;
					position: absolute;
					transition:  .3s;
				}
				&:after {
					content: "";
					background-color: $c-main;
					width: 100%;
					height: 3px;
					display: block;
					position: absolute;
					transition:  .3s;
					top: 10px;
				}
			}//span
		}//btn
		ul {
		display: block;
		top: -450px;
		position: fixed;
		padding: 50px 0 0 0;
		z-index: 1;
		transition: .8s ;
			li {
				width: 100%;
				&:first-child a {
					border-radius: 0;
					}
				&:last-child a {
					border-radius: 0;
					}

				a{
					width: 100%;
				}
			}//li
		}//ul
	}//nav

.active {
	top: 0;
}//active
.btn.toggel {
	span {
		background-color: rgba(255, 255, 255, 0.0);
		&:before {
			top: 0;
			transform: rotate(45deg);
	}
		&:after {
			top: 0;
			transform: rotate(-45deg);
	}
}//span

}//.btn.toggel
}//#header
	.phone {
		display: none;
	}
}//@media
