$c-main      : #FD5B4E;
$c-prim      : #1aa6b7;
$c-def       : #fff;
// lightblue : #Daecf3 #FD5B4E
// reddish   : #fe424d
//  seablue  : #1aa6b7
// darkblue  : #022d41

$s-twitter:#55acee;
$s-instagram:#e4405f;
$s-facebook:#3b5999;
$s-google-plus:#dd4b39;

$main-o:rgba($c-main, 0.7);
$prim-o:rgba($c-prim, 0.7);



$font-1:'Roboto Condensed', sans-serif;
$font-2:'Pacifico', cursive;
$fsize: 26px;


@mixin background-gradient($start-color, $end-color, $orientation) {
    background: $start-color;
    @if $orientation=='vertical' {
        background: -webkit-linear-gradient(top, $start-color, $end-color);
        background: linear-gradient(to bottom, $start-color, $end-color);
    }
    @else if $orientation=='horizontal' {
        background: -webkit-linear-gradient(left top, $start-color, $end-color);
        background: linear-gradient(to right bottom, $start-color, $end-color);
    }
    @else {
        background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
        background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin button($cl-1, $cl-2) {
    border: $cl-1 solid 0.125rem;
    border-radius: 3.125rem;
    width: 10em; // 250px//10em; //25
    margin: auto;
    font-size: 1.5625rem;
    padding: .625em ;
    box-shadow: 0rem .0625rem 0.5rem .03125rem #555;
    color: $cl-1;
    background-color: $cl-2;
    &:hover,
    &:focus {
        background-color: $cl-1;
        color: $cl-2;
    }
}



@mixin ba($c1:null,$c2:null,$f:null,$m:0 auto,$p:null,$w:100%,$tt:null,$ta:center) {
    color: $c1;
    background-color: $c2;
    font-size: $f;
    width: $w;
    margin: $m;
    padding: $p;
    text-transform:$tt;
    text-align:$ta;
}

@mixin ba-h($c1:null,$c2:null,$f:null,$p:null,$w:100%,$tt:null,$m:0 auto,$ta:center) {
    color: $c1;
    background-color: $c2;
    font-size: $f;
    width: $w;
    margin: $m;
    padding: $p;
    text-transform:$tt;
    text-align:$ta;
    &:hover,
    &:focus {
        color: $c2;
        background-color: $c1;
        }

}
