footer {
	.logo {
		margin:0 auto ;
		background-color:$c-main;
		padding:.625rem; // 10px;
		text-align:center ;
		img {
			margin:0 auto ;
		}
	}
	.social {
		background-color:darken($c-main, 25%) ;
		text-align:center ;
		padding:0rem 0px 1.25rem; // 20px
			.fa {
				color:$c-def ;
				font-size:1.875rem; // 30px
				padding:.3125rem; // 5px ;
				margin: 1.25rem; // 20px;
				text-align:center ;
				// background-color:$c-def ;
				transition: all .3s ease 0s;
				&:hover ,
				&:focus {
					transform: translate3D(0,-5px,0);
					}

		}
		// .fa-twitter {
		// 	&:hover ,
		// 	&:focus {
		// 			color: $s-twitter;
		// 		}
		// 	}
		// .fa-instagram {
		// 	&:hover ,
		// 	&:focus {
		// 			color: $s-instagram;
		// 		}
		// }
		// .fa-facebook {
		// 	&:hover ,
		// 	&:focus {
		// 			color:$s-facebook;
		// 		}
		// }
		// .fa-google-plus {
		// 	&:hover ,
		// 	&:focus {
		// 			color: $s-google-plus;
		// 		}
		// }

	}
	.add {
		background-color: lighten(darken($c-main,30%),5%);
		padding: 0 0 1.25rem; // 20px;
		text-align: center;
		font-size: 1.5625rem; // 25px;
		color: $c-def;
		text-transform: capitalize;
		p {
			font-size: 1.5625rem; // 25px;
			padding: 1.25rem; // 20px;
		}
	}
	.brand {
		background-color: darken($c-def,10%);
		p {
			font-size: 1.25rem; // 20px;
			padding: 1.25rem; // 20px;

		}
	}
}
