
.container {
	width: 80%;
	margin: auto;
}
.hero {
	padding-top: 3.125rem ;
	@include background-gradient($c-main 90%,$c-def 95%,vertical);
	h1 {
		padding: 1.25rem  0;
		color:$c-def ;
		font-family: $font-2;
		text-transform: capitalize;
	}
		p {
			text-align: center;
			padding: 0 0 1.25rem  0;
			color: $c-def;
		}
		img {
			width: 100%;
			margin: auto;
			@include background-gradient($c-main 92%,$c-def 92%,vertical)
			// background-repeat: no-repeat;
			// background-size: cover;
			// background-position: center center;
		}
	}
