.money {
	margin:0 auto ;
	padding:1.25rem 0; // 20px ;
	h2 {
		padding-bottom:1.25rem; // 20px ;
	}
	h3 {
		padding-bottom:1.25rem; // 20px ;
	}
	p {
		padding-bottom:1.25rem; // 20px ;
	}
	img {
		margin:1.25rem auto ; // 20px ;
	//	width:100px ;
		justify-content:center ;
		display:flex;
	}
}
